@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark font-display text-white overflow-x-hidden antialiased selection:bg-primary selection:text-background-dark;
  }
}

@layer components {
  .blueprint-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(26, 47, 80, 0.3) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(26, 47, 80, 0.3) 1px, transparent 1px);
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(0, 191, 230, 0.3);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
